*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.bd {
    border: 1px solid black;
}

.main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /* column-gap: 1px;
    row-gap: 1px; */
}

.squares {
    width: auto;
    height: auto;
}

.squares:hover {
    background-color: aqua;
    cursor: pointer;   
}
